/* Adon 1.0 — ravextheme. Selected Startup Agency rules from the supplied licensed template.
 * Application adaptations are isolated in ../adon.css. */
/* startup agency page css */
.body-startup-agency {
  background-color: #F8F8F8;
  color: var(--secondary);
}
@media (min-width: 1750px) {
  .body-startup-agency .container.large {
    max-width: 1750px;
  }
}
.body-startup-agency .section-title-wrapper {
  gap: 20px;
  display: grid;
  grid-template-columns: 1fr 1093px;
}
@media only screen and (max-width: 1399px) {
  .body-startup-agency .section-title-wrapper {
    grid-template-columns: 1fr 850px;
  }
}
@media only screen and (max-width: 1199px) {
  .body-startup-agency .section-title-wrapper {
    grid-template-columns: 1fr 700px;
  }
}
@media only screen and (max-width: 991px) {
  .body-startup-agency .section-title-wrapper {
    grid-template-columns: 1fr;
  }
}
.body-startup-agency .section-title-wrapper .title-wrapper .section-title {
  font-size: 90px;
  font-weight: 400;
  line-height: 85px;
  letter-spacing: -4.5px;
}
@media only screen and (max-width: 1399px) {
  .body-startup-agency .section-title-wrapper .title-wrapper .section-title {
    font-size: 80px;
    line-height: 80px;
  }
}
@media only screen and (max-width: 1199px) {
  .body-startup-agency .section-title-wrapper .title-wrapper .section-title {
    font-size: 60px;
    line-height: 70px;
    letter-spacing: normal;
  }
}
@media only screen and (max-width: 991px) {
  .body-startup-agency .section-title-wrapper .title-wrapper .section-title {
    font-size: 50px;
    line-height: 60px;
  }
}
@media only screen and (max-width: 767px) {
  .body-startup-agency .section-title-wrapper .title-wrapper .section-title {
    font-size: 40px;
    line-height: 50px;
  }
}
@media only screen and (max-width: 767px) {
  .body-startup-agency .section-title-wrapper .title-wrapper .section-title {
    font-size: 23px;
    line-height: 30px;
  }
}
.body-startup-agency .section-title-wrapper .title-wrapper .section-title span {
  font-family: var(--font_ppeditor);
}

.hero-2-area {
  background-color: var(--theme);
  position: relative;
}
.hero-2-area .section-title {
  font-size: 150px;
  font-weight: 400;
  line-height: 130px;
  letter-spacing: -7.5px;
  display: inline-block;
  color: var(--black);
}
.hero-2-area .section-title span {
  font-style: italic;
  font-family: var(--font_ppeditor);
}
@media only screen and (max-width: 1919px) {
  .hero-2-area .section-title {
    font-size: 100px;
    line-height: 1;
  }
}
@media only screen and (max-width: 1399px) {
  .hero-2-area .section-title {
    font-size: 80px;
    line-height: 1;
  }
}
@media only screen and (max-width: 1199px) {
  .hero-2-area .section-title {
    font-size: 60px;
    line-height: 1;
    letter-spacing: normal;
  }
}
@media only screen and (max-width: 991px) {
  .hero-2-area .section-title {
    font-size: 40px;
    line-height: 1;
  }
}
@media only screen and (max-width: 767px) {
  .hero-2-area .section-title {
    font-size: 35px;
    line-height: 1;
  }
}
.hero-2-inner {
  display: grid;
  gap: 30px 100px;
  grid-template-columns: 500px 1fr;
  padding-top: 133px;
  padding-bottom: 80px;
  position: relative;
  overflow: hidden;
}
@media only screen and (max-width: 1199px) {
  .hero-2-inner {
    gap: 30px 50px;
  }
}
@media only screen and (max-width: 991px) {
  .hero-2-inner {
    grid-template-columns: 345px 1fr;
  }
}
@media only screen and (max-width: 767px) {
  .hero-2-inner {
    grid-template-columns: 1fr;
  }
}
.hero-2-inner::before {
  content: "";
  position: absolute;
  height: 100%;
  top: 80px;
  left: 500px;
  width: 1px;
  background-color: var(--black);
}
@media only screen and (max-width: 991px) {
  .hero-2-inner::before {
    left: 344px;
  }
}
@media only screen and (max-width: 767px) {
  .hero-2-inner::before {
    display: none;
  }
}
.hero-2-inner::after {
  content: "";
  position: absolute;
  height: 1px;
  top: 80px;
  width: 100%;
  background-color: var(--black);
}
.hero-2__video {
  padding-right: 85px;
}
@media only screen and (max-width: 1199px) {
  .hero-2__video {
    padding-right: 50px;
  }
}
@media only screen and (max-width: 767px) {
  .hero-2__video {
    padding-right: 0;
    order: 1;
  }
}
.hero-2__video video {
  width: 100%;
  -webkit-mask-image: none;
  mask-image: none;
  mask-size: 100% 100%;
  object-fit: cover;
}
.hero-2__wrapper {
  gap: 50px;
  display: flex;
  margin-top: 97px;
}
@media only screen and (max-width: 1919px) {
  .hero-2__wrapper {
    margin-top: 50px;
  }
}
@media only screen and (max-width: 1199px) {
  .hero-2__wrapper {
    padding-right: 40px;
  }
}
@media only screen and (max-width: 991px) {
  .hero-2__wrapper {
    gap: 30px;
  }
}
.hero-2__wrapper .text span {
  font-size: 16px;
  font-weight: 500;
  line-height: 14px;
  padding: 7px 12px;
  padding-left: 23px;
  position: relative;
  border-radius: 500px;
  color: var(--black);
  display: inline-block;
  border: 1px solid var(--black);
}
.hero-2__wrapper .text span::before {
  top: 50%;
  width: 6px;
  left: 12px;
  height: 6px;
  content: "";
  position: absolute;
  border-radius: 500px;
  background-color: var(--black);
  transform: translate(-50%, -50%);
}
.hero-2__wrapper ul li a {
  font-size: 30px;
  font-weight: 400;
  line-height: 40px;
  position: relative;
  color: var(--black);
  letter-spacing: -1.5px;
}
.hero-2__wrapper ul li a:hover {
  color: var(--white);
}
.hero-2__wrapper ul li a:hover::before {
  width: 100%;
}
.hero-2__wrapper ul li a::before {
  left: 0;
  width: 0;
  bottom: 0;
  height: 2px;
  content: "";
  position: absolute;
  transition: all 0.3s;
  background-color: var(--white);
}
.hero-2__wrapper ul li.explore {
  margin-top: 130px;
}
@media only screen and (max-width: 1919px) {
  .hero-2__wrapper ul li.explore {
    margin-top: 50px;
  }
}
@media only screen and (max-width: 1199px) {
  .hero-2__wrapper ul li.explore {
    margin-top: 30px;
  }
}
.hero-2__wrapper ul li.explore a {
  color: rgba(17, 17, 17, 0.4);
}
.hero-2__wrapper ul li.explore a:hover {
  color: var(--black);
}
.hero-2__wrapper ul li.explore a:hover::before {
  width: 0;
}
.hero-2__wrapper ul li.explore a::before {
  left: 0;
  bottom: 0;
  height: 2px;
  width: 100%;
  content: "";
  position: absolute;
  transition: all 0.3s;
  background-color: currentColor;
}
.hero-2__content .sub-title {
  font-size: 24px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: -1.68px;
  padding-bottom: 17px;
  position: relative;
  display: inline-flex;
  margin-bottom: 280px;
  color: var(--black);
}
@media only screen and (max-width: 1919px) {
  .hero-2__content .sub-title {
    margin-bottom: 170px;
  }
}
@media only screen and (max-width: 1399px) {
  .hero-2__content .sub-title {
    letter-spacing: normal;
  }
}
@media only screen and (max-width: 991px) {
  .hero-2__content .sub-title {
    font-size: 20px;
  }
}
@media only screen and (max-width: 767px) {
  .hero-2__content .sub-title {
    margin-bottom: 40px;
  }
}
.hero-2__content .sub-title:hover::before {
  width: 0;
}
.hero-2__content .sub-title:hover .icon .first {
  transform: translate(100%, -100%);
}
.hero-2__content .sub-title:hover .icon .second {
  transform: translate(0%, 0%);
}
.hero-2__content .sub-title::before {
  position: absolute;
  content: "";
  inset-inline-start: 0;
  bottom: 0px;
  width: 100%;
  height: 1px;
  background-color: currentColor;
  transition: 0.3s;
}
.hero-2__content .sub-title a {
  display: flex;
  align-items: center;
  gap: 155px;
}
@media only screen and (max-width: 991px) {
  .hero-2__content .sub-title a {
    gap: 50px;
  }
}
.hero-2__content .sub-title a:hover {
  color: var(--black);
}
.hero-2__content .sub-title .icon {
  display: inline-block;
  line-height: 0;
  position: relative;
  overflow: hidden;
}
.hero-2__content .sub-title .icon .first {
  transition: all 0.3s;
}
.hero-2__content .sub-title .icon .second {
  position: absolute;
  bottom: 0;
  left: 0;
  transform: translate(-100%, 100%);
  transition: all 0.3s;
  width: 0.72em;
  box-sizing: content-box;
  padding: var(--white-space);
}
.hero-2__content .sub-title br {
  display: block;
}
.hero-2__content .socail-media {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 120px;
  position: absolute;
  right: -48px;
  top: 50%;
  transform: translate(-50%, -50%);
}
@media only screen and (max-width: 767px) {
  .hero-2__content .socail-media {
    position: inherit;
    right: inherit;
    text-indent: inherit;
    transform: inherit;
    flex-direction: row;
    gap: 30px;
    margin-top: 30px;
  }
}
.hero-2__content .socail-media::before {
  content: "";
  position: absolute;
  background: rgba(17, 17, 17, 0.3);
  width: 1px;
  height: 61px;
  top: 31%;
  transform: translate(-50%, -50%);
}
@media only screen and (max-width: 767px) {
  .hero-2__content .socail-media::before {
    display: none;
  }
}
.hero-2__content .follow-text {
  rotate: -90deg;
  font-size: 14px;
  font-weight: 500;
  color: var(--black);
  text-transform: uppercase;
  line-height: 22px;
}
@media only screen and (max-width: 767px) {
  .hero-2__content .follow-text {
    rotate: 0deg;
  }
}
.hero-2__content ul {
  gap: 24px;
  display: flex;
  align-items: center;
  flex-direction: column;
}
@media only screen and (max-width: 767px) {
  .hero-2__content ul {
    flex-direction: row;
  }
}
.hero-2__content ul li a {
  color: var(--black);
  transition: 0.3s;
  font-size: 18px;
}
.hero-2__content ul li a:hover {
  color: var(--white);
}

.about-area-inner {
  padding-top: 135px;
}
@media only screen and (max-width: 1919px) {
  .about-area-inner {
    padding-top: 110px;
  }
}
@media only screen and (max-width: 1399px) {
  .about-area-inner {
    padding-top: 100px;
  }
}
@media only screen and (max-width: 1199px) {
  .about-area-inner {
    padding-top: 80px;
  }
}
@media only screen and (max-width: 991px) {
  .about-area-inner {
    padding-top: 60px;
  }
}
.about-area .section-title-wrapper .title-wrapper {
  padding-right: 113px;
}
@media only screen and (max-width: 1399px) {
  .about-area .section-title-wrapper .title-wrapper {
    padding-right: 0;
  }
}
.about-area .btn-wrapper {
  gap: 30px;
  display: flex;
  margin-top: 60px;
  align-items: center;
}
@media (max-width: 575px) {
  .about-area .btn-wrapper {
    gap: 20px;
    flex-wrap: wrap;
    margin-top: 40px;
  }
}
.about-area .btn-wrapper .btn-team {
  font-size: 18px;
  font-weight: 400;
  line-height: 38px;
  letter-spacing: -0.36px;
  color: var(--primary);
  position: relative;
}
.about-area .btn-wrapper .btn-team i {
  rotate: -50deg;
  transition: all 0.3s;
}
.about-area .btn-wrapper .btn-team:hover::before {
  width: 0;
}
.about-area .btn-wrapper .btn-team:hover i {
  rotate: 0deg;
}
.about-area .btn-wrapper .btn-team::before {
  content: "";
  bottom: 0;
  width: 100%;
  height: 2px;
  position: absolute;
  transition: all 0.3s;
  background-color: currentColor;
}

/* client area 2 style  */
.client-area-2-inner {
  padding-top: 55px;
  border-top: 1px solid rgba(17, 17, 17, 0.1);
  padding-bottom: 200px;
}
@media only screen and (max-width: 1919px) {
  .client-area-2-inner {
    padding-bottom: 150px;
  }
}
@media only screen and (max-width: 1399px) {
  .client-area-2-inner {
    padding-bottom: 120px;
  }
}
@media only screen and (max-width: 1199px) {
  .client-area-2-inner {
    padding-bottom: 100px;
  }
}
@media only screen and (max-width: 991px) {
  .client-area-2-inner {
    padding-bottom: 60px;
  }
}
.client-area-2 .clients-wrapper {
  gap: 145px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.client-area-2 .clients-wrapper .client-slider-active .swiper-slide {
  width: auto;
}
.client-area-2 .clients-wrapper .client-slider-active .swiper-wrapper {
  transition-timing-function: linear !important;
}

/* work area 2 style  */
.work-area-2-inner {
  padding-bottom: 200px;
}
@media only screen and (max-width: 1199px) {
  .work-area-2-inner {
    padding-bottom: 100px;
  }
}
@media only screen and (max-width: 991px) {
  .work-area-2-inner {
    padding-bottom: 60px;
  }
}
.work-area-2 .section-description {
  margin-bottom: 10px;
}
.work-area-2 .section-description p {
  color: var(--primary);
  font-size: 30px;
  font-weight: 400;
  line-height: 38px;
  letter-spacing: -1.5px;
}
@media only screen and (max-width: 767px) {
  .work-area-2 .section-description p {
    letter-spacing: 0;
    font-size: 24px;
    line-height: 34px;
  }
}
.work-area-2 .section-description a {
  font-size: 30px;
  font-weight: 400;
  line-height: 38px;
  position: relative;
  letter-spacing: -1.5px;
  color: rgba(17, 17, 17, 0.4);
}
.dark .work-area-2 .section-description a {
  color: rgba(255, 255, 255, 0.4);
}
.work-area-2 .section-description a:hover {
  color: var(--primary);
}
.work-area-2 .section-description a:hover::before {
  width: 0;
}
.work-area-2 .section-description a::before {
  bottom: 0;
  content: "";
  height: 1px;
  width: 100%;
  position: absolute;
  transition: all 0.3s;
  background-color: currentColor;
}
.work-area-2 .section-header {
  transform: translateY(500px);
  text-align: center;
}
@media only screen and (max-width: 991px) {
  .work-area-2 .section-header {
    transform: translateY(0px);
    margin-top: 50px;
    margin-bottom: 30px;
  }
}
.work-area-2 .section-header .section-title {
  font-size: 250px;
  font-weight: 400;
  position: relative;
  line-height: 130px;
  display: inline-block;
  letter-spacing: -12.5px;
  font-family: var(--font_ppeditor);
}
@media only screen and (max-width: 991px) {
  .work-area-2 .section-header .section-title {
    font-size: 120px;
    line-height: 130px;
    letter-spacing: 0;
  }
}
@media only screen and (max-width: 767px) {
  .work-area-2 .section-header .section-title {
    font-size: 100px;
    line-height: 130px;
  }
}
@media (max-width: 575px) {
  .work-area-2 .section-header .section-title {
    font-size: 70px;
    line-height: 90px;
  }
}
.work-area-2 .section-header .section-title .remove-text {
  margin-left: -50px;
}
@media only screen and (max-width: 991px) {
  .work-area-2 .section-header .section-title .remove-text {
    margin-left: -35px;
  }
}
@media only screen and (max-width: 767px) {
  .work-area-2 .section-header .section-title .remove-text {
    margin-left: -20px;
  }
}
.work-area-2 .section-header .section-title .number {
  font-size: 22px;
  font-style: italic;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: -1.1px;
  position: absolute;
  right: -44px;
  top: -67px;
  display: inline-block;
  transition: opacity 0.3s ease;
}
@media only screen and (max-width: 991px) {
  .work-area-2 .section-header .section-title .number {
    right: -35px;
    top: 0px;
  }
}
.work-area-2 .works-wrapper {
  display: grid;
  gap: 0px 350px;
  grid-template-columns: auto auto;
  position: relative;
  z-index: 2;
}
@media only screen and (max-width: 1399px) {
  .work-area-2 .works-wrapper {
    gap: 150px;
  }
}
@media only screen and (max-width: 991px) {
  .work-area-2 .works-wrapper {
    gap: 100px;
  }
}
@media only screen and (max-width: 767px) {
  .work-area-2 .works-wrapper {
    grid-template-columns: auto;
    gap: 50px;
  }
}
.work-area-2 .works-wrapper > *:nth-child(2) {
  margin-left: auto;
  margin-top: 150px;
}
@media only screen and (max-width: 1399px) {
  .work-area-2 .works-wrapper > *:nth-child(2) {
    margin-top: 0;
  }
}
.work-area-2 .works-wrapper > *:nth-child(3) {
  margin-top: -150px;
  margin-left: 215px;
}
@media only screen and (max-width: 767px) {
  .work-area-2 .works-wrapper > *:nth-child(3) {
    margin-left: 0;
  }
}
@media only screen and (max-width: 1399px) {
  .work-area-2 .works-wrapper > *:nth-child(3) {
    margin-top: 0;
    margin-left: 0;
  }
}
.work-area-2 .works-wrapper > *:nth-child(4) {
  margin-top: 395px;
}
@media only screen and (max-width: 1399px) {
  .work-area-2 .works-wrapper > *:nth-child(4) {
    margin-top: 0;
  }
}
.work-area-2 .works-wrapper > *:nth-child(6) {
  margin-top: 545px;
  margin-right: 125px;
}
@media only screen and (max-width: 767px) {
  .work-area-2 .works-wrapper > *:nth-child(6) {
    margin-right: 0;
  }
}
@media only screen and (max-width: 1399px) {
  .work-area-2 .works-wrapper > *:nth-child(6) {
    margin-top: 0;
    margin-right: 0;
  }
}
.work-area-2 .works-wrapper > *:nth-child(7) {
  margin-left: auto;
  margin-top: -150px;
}
@media only screen and (max-width: 1399px) {
  .work-area-2 .works-wrapper > *:nth-child(7) {
    margin-top: 0;
  }
}
@media only screen and (max-width: 767px) {
  .work-area-2 .works-wrapper > *:nth-child(7) {
    margin-left: inherit;
  }
}
.work-area-2 .work-box .thumb {
  display: inline-block;
}
@media only screen and (max-width: 767px) {
  .work-area-2 .work-box .thumb {
    width: 100%;
  }
}
.work-area-2 .work-box .thumb img {
  object-fit: cover;
  cursor: none;
}
@media only screen and (max-width: 767px) {
  .work-area-2 .work-box .thumb img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

/*  choose-us style  */
.choose-us.theme-bg-black .section-title-wrapper .subtitle-wrapper .section-subtitle {
  border-color: var(--white);
  color: var(--white);
}
.choose-us.theme-bg-black .section-title-wrapper .title-wrapper .section-title {
  color: var(--white);
}
.choose-us .section-title-wrapper {
  gap: 50px;
  grid-template-columns: 1fr;
}
@media only screen and (max-width: 991px) {
  .choose-us .section-title-wrapper {
    gap: 30px;
  }
}
@media only screen and (max-width: 767px) {
  .choose-us .section-title-wrapper {
    gap: 20px;
  }
}
.choose-us .section-title-wrapper .title-wrapper .section-title {
  display: inline-block;
}
.choose-us__warpper {
  gap: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 94px;
}
@media only screen and (max-width: 991px) {
  .choose-us__warpper {
    flex-wrap: wrap;
    margin-top: 50px;
  }
}
.choose-us__item {
  width: 100%;
  border-radius: 15px;
  background-color: #1A1A1A;
  padding: 34px 40px 4px 45px;
}
.dark .choose-us__item {
  background-color: #1F1F1F;
}
@media only screen and (max-width: 1199px) {
  .choose-us__item {
    padding: 34px 35px 4px 35px;
  }
}
@media only screen and (max-width: 991px) {
  .choose-us__item {
    padding: 25px 20px 10px 20px;
  }
}
.choose-us__item p {
  color: var(--white);
  font-size: 20px;
}
.choose-us__item h2 {
  display: flex;
  margin-top: 20px;
  font-weight: 200px;
  color: var(--white);
  align-items: self-start;
  font-family: var(--font_ppeditor);
}
@media (max-width: 575px) {
  .choose-us__item h2 {
    margin-top: 10px;
  }
}
.choose-us__item h2 span {
  font-size: 150px;
  font-weight: 200;
  line-height: 160px;
  letter-spacing: -0.5px;
  display: inline-block;
  font-family: var(--font_ppeditor);
}
@media only screen and (max-width: 1399px) {
  .choose-us__item h2 span {
    font-size: 120px;
    line-height: 130px;
  }
}
@media only screen and (max-width: 1199px) {
  .choose-us__item h2 span {
    font-size: 100px;
    line-height: 110px;
  }
}
@media only screen and (max-width: 991px) {
  .choose-us__item h2 span {
    font-size: 80px;
    line-height: 90px;
  }
}
@media only screen and (max-width: 767px) {
  .choose-us__item h2 span {
    font-size: 60px;
    line-height: 70px;
  }
}
@media (max-width: 575px) {
  .choose-us__item h2 span {
    font-size: 40px;
    line-height: 50px;
  }
}

/*  testimonial style  */
.testimonial hr {
  margin: 0;
}
.testimonial__wrapper {
  position: relative;
  padding: 140px 0;
  margin-left: auto;
  margin-right: auto;
  gap: 158px;
  display: flex;
  max-width: 1070px;
  align-items: flex-start;
}
@media only screen and (max-width: 991px) {
  .testimonial__wrapper {
    padding: 50px 0;
  }
}
@media only screen and (max-width: 1199px) {
  .testimonial__wrapper {
    gap: 100px;
  }
}
@media only screen and (max-width: 991px) {
  .testimonial__wrapper {
    gap: 50px;
  }
}
@media only screen and (max-width: 767px) {
  .testimonial__wrapper {
    display: inherit;
  }
}
.testimonial__text-wrapper {
  display: flex;
  align-items: center;
}
.testimonial__text-wrapper .circle-text {
  z-index: 2;
  width: 130px;
  height: 130px;
  display: flex;
  position: relative;
  align-items: center;
  border-radius: 500px;
  justify-content: center;
}
.testimonial__text-wrapper .circle-text::after {
  content: "";
  width: 130px;
  height: 130px;
  position: absolute;
  border-radius: 500px;
  background-color: var(--white);
}
.testimonial__text-wrapper .circle-text::before {
  content: "";
  width: 150px;
  height: 150px;
  position: absolute;
  border-radius: 500px;
  background-color: var(--primary);
}
.testimonial__text-wrapper .circle-text img {
  z-index: 2;
  position: relative;
}
.testimonial__text-wrapper .circle-text .text {
  animation: t-spinner 10s infinite linear;
}
.testimonial__text-wrapper .circle-text .shape {
  position: absolute;
}
.testimonial__text-wrapper .icon {
  width: 130px;
  height: 130px;
  display: flex;
  min-width: 130px;
  align-items: center;
  justify-content: center;
  border-radius: 500px;
  border: 3px solid var(--white);
  margin-left: -20px;
}
@media only screen and (max-width: 767px) {
  .testimonial__item-content {
    margin-top: 40px;
  }
}
.testimonial__item-content p {
  font-size: 36px;
  font-weight: 400;
  line-height: 42px;
  letter-spacing: -1.8px;
  color: rgba(255, 255, 255, 0.4);
  font-family: var(--font_bdogrotesk);
}
@media only screen and (max-width: 1199px) {
  .testimonial__item-content p {
    font-size: 30px;
    line-height: 40px;
  }
}
@media only screen and (max-width: 991px) {
  .testimonial__item-content p {
    font-size: 23px;
    line-height: 36px;
    letter-spacing: 0px;
  }
}
@media only screen and (max-width: 767px) {
  .testimonial__item-content p {
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0px;
  }
}
@media only screen and (max-width: 767px) {
  .testimonial__item-content p {
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0px;
  }
}
.testimonial__item-content p span {
  color: var(--white);
}
.testimonial__item-author {
  margin-top: 50px;
  padding-bottom: 100px;
}
@media only screen and (max-width: 767px) {
  .testimonial__item-author {
    padding-bottom: 0;
    margin-top: 30px;
    padding-bottom: 0px;
  }
}
.testimonial__item-author .name {
  color: var(--white);
  font-size: 20px;
  font-weight: 500;
  line-height: 27px;
  letter-spacing: -1px;
}
.testimonial__item-author .designation {
  margin-top: 2px;
  font-size: 16px;
  font-weight: 400;
  line-height: 27px;
  display: inline-block;
  color: rgba(255, 255, 255, 0.4);
}
.testimonial .testimonial-pagination {
  z-index: 9;
  display: flex;
  position: absolute;
}
@media only screen and (max-width: 767px) {
  .testimonial .testimonial-pagination {
    display: none;
  }
}
.testimonial .testimonial-pagination .swiper-pagination-bullet {
  opacity: 1;
  width: 8px;
  height: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #333333;
}
.testimonial .testimonial-pagination .swiper-pagination-bullet-active {
  background-color: var(--white);
}

/* team area style  */
.team-2.theme-bg-black .section-title-wrapper .subtitle-wrapper .section-subtitle {
  border: 1px solid var(--white);
  color: var(--white);
}
.team-2.theme-bg-black .section-title-wrapper .title-wrapper .section-title {
  color: var(--white);
}
.team-2__inner {
  padding-bottom: 10px;
}
.team-2 .section-title-wrapper {
  grid-template-columns: 1fr 1095px;
}
@media only screen and (max-width: 1919px) {
  .team-2 .section-title-wrapper {
    grid-template-columns: 1fr 850px;
  }
}
@media only screen and (max-width: 1199px) {
  .team-2 .section-title-wrapper {
    grid-template-columns: 1fr 650px;
  }
}
@media only screen and (max-width: 991px) {
  .team-2 .section-title-wrapper {
    grid-template-columns: 1fr;
  }
}
.team-2 .section-title-wrapper .title-wrapper {
  max-width: 676px;
}
.team-2__wrapper-box {
  margin-top: 94px;
}
@media only screen and (max-width: 1919px) {
  .team-2__wrapper-box {
    margin-top: 64px;
  }
}
@media only screen and (max-width: 991px) {
  .team-2__wrapper-box {
    margin-top: 44px;
  }
}
.team-2__wrapper {
  display: grid;
  gap: 40px 20px;
  grid-template-columns: repeat(4, 1fr);
}
@media only screen and (max-width: 991px) {
  .team-2__wrapper {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 575px) {
  .team-2__wrapper {
    grid-template-columns: repeat(1, 1fr);
  }
}
.team-2__box:hover .thumb img {
  transform: scale(1.1);
}
.team-2__box .thumb {
  overflow: hidden;
}
.team-2__box .thumb img {
  width: 100%;
  transition: all 0.5s;
}
.team-2__box .name {
  font-size: 30px;
  font-weight: 310;
  line-height: 1;
  color: var(--white);
  letter-spacing: -0.07em;
}
.team-2__box .name:hover a {
  color: var(--secondary);
}
@media only screen and (max-width: 1919px) {
  .team-2__box .name {
    font-size: 24px;
  }
}
.team-2__box .post {
  font-size: 16px;
  font-weight: 400;
  line-height: 30px;
  display: inline-block;
  margin-top: 3px;
  color: #999999;
}
.team-2__box .content {
  margin-top: 19px;
}

/* thinking area style  */
.thinking__wrapper {
  gap: 134px;
  display: grid;
  position: relative;
  margin-bottom: 80px;
  grid-template-columns: 1fr 1095px;
}
@media only screen and (max-width: 1919px) {
  .thinking__wrapper {
    gap: 100px;
    grid-template-columns: 1fr 700px;
  }
}
@media only screen and (max-width: 1399px) {
  .thinking__wrapper {
    gap: 50px;
    grid-template-columns: 1fr 600px;
  }
}
@media only screen and (max-width: 1199px) {
  .thinking__wrapper {
    gap: 50px;
    grid-template-columns: 1fr;
    margin-bottom: 50px;
  }
}
@media only screen and (max-width: 991px) {
  .thinking__wrapper {
    margin-bottom: 30px;
  }
}
@media only screen and (max-width: 767px) {
  .thinking__wrapper {
    margin-bottom: 0px;
  }
}
.thinking__content .sub-title {
  font-size: 90px;
  font-weight: 400;
  line-height: 85px;
  margin-bottom: 90px;
  letter-spacing: -4.5px;
}
@media only screen and (max-width: 1919px) {
  .thinking__content .sub-title {
    margin-bottom: 50px;
  }
}
@media only screen and (max-width: 1399px) {
  .thinking__content .sub-title {
    font-size: 70px;
    line-height: 80px;
  }
}
@media only screen and (max-width: 991px) {
  .thinking__content .sub-title {
    font-size: 50px;
    line-height: 60px;
    margin-bottom: 10px;
    letter-spacing: 0;
  }
  .thinking__content .sub-title br {
    display: none;
  }
}
@media only screen and (max-width: 767px) {
  .thinking__content .sub-title {
    font-size: 30px;
    line-height: 40px;
  }
}
.thinking__content p {
  font-size: 20px;
  font-weight: 400;
  line-height: 28px;
  max-width: 390px;
}
.thinking__content .title {
  z-index: 99;
  display: flex;
  bottom: -10px;
  font-size: 250px;
  font-weight: 400;
  line-height: 160px;
  position: absolute;
  align-items: center;
  letter-spacing: -12.5px;
  font-family: var(--font_ppeditor);
}
.thinking__content .title br {
  display: block;
}
@media only screen and (max-width: 1919px) {
  .thinking__content .title {
    font-size: 200px;
  }
}
@media only screen and (max-width: 1399px) {
  .thinking__content .title {
    font-size: 160px;
    line-height: 100px;
  }
}
@media only screen and (max-width: 991px) {
  .thinking__content .title {
    font-size: 130px;
    line-height: 85px;
    bottom: 0;
  }
}
@media only screen and (max-width: 767px) {
  .thinking__content .title {
    font-size: 112px;
    line-height: 75px;
    bottom: 0;
  }
}
@media (max-width: 575px) {
  .thinking__content .title {
    font-size: 65px;
    line-height: 45px;
    bottom: 0;
    position: inherit;
    letter-spacing: 0;
    margin-top: 20px;
  }
}
.thinking__content .title .big-letter {
  font-size: 765px;
  font-style: italic;
  font-weight: 400;
  line-height: 160px;
  display: inline-block;
  letter-spacing: -20.25px;
  margin-top: 95px;
}
@media only screen and (max-width: 1919px) {
  .thinking__content .title .big-letter {
    font-size: 560px;
  }
}
@media only screen and (max-width: 1399px) {
  .thinking__content .title .big-letter {
    font-size: 500px;
    letter-spacing: -5.25px;
  }
}
@media only screen and (max-width: 991px) {
  .thinking__content .title .big-letter {
    font-size: 450px;
    letter-spacing: 0;
  }
}
@media only screen and (max-width: 767px) {
  .thinking__content .title .big-letter {
    font-size: 380px;
    letter-spacing: 0;
    margin-top: 40px;
  }
}
@media (max-width: 575px) {
  .thinking__content .title .big-letter {
    font-size: 250px;
  }
}
.thinking__media {
  margin-top: 250px;
}
@media only screen and (max-width: 1199px) {
  .thinking__media {
    margin-top: 0;
  }
}

